@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0d0d0d;
  color: #fff;
}

.menu-bar {
  height: 100vh;
  width: 14em;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #000;
}

.menu-bar img {
  height: 3.75em;
  width: 9.3em;
  margin: 0.5em 0 0 0.9em;
}

.menu-bar .fa-podcast {
  color: green;
}

.menu-bar .fa-heart {
  color: #ff3333;
}

.menu-bar nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-bar nav ul li {
  margin: 1em 0;
}

.menu-bar nav ul li a {
  text-decoration: none;
  color: #cccccc;
  padding: 0.5em 0.5em;
  margin-left: 1.2em;
}

.menu-bar nav ul li a:hover {
  color: #fff;
}

.menu-bar nav ul li a svg {
  margin: 0 1em 0.3em 0;
}

.menu-bar nav ul li a .fa {
  margin-right: 1em;
}

.menu-bar .user-collection {
  margin-bottom: 6em;
}

.menu-bar .install-app a {
  text-decoration: none;
  color: #cccccc;
  padding: 0.5em 0.5em;
  width: 2em;
}

.menu-bar .install-app a:hover {
  color: #fff;
}

.menu-bar .install-app a .fa {
  width: 2em;
  margin-left: 1em;
}

.main-content header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  width: 100%;
  height: 4em;
  padding: 1em;
  background-color: #1DB954;
  z-index: 2;
}

.main-content header .hamburger {
  visibility: hidden;
  position: absolute;
  left: 2em;
  top: 1.45em;
  cursor: pointer;
}

.main-content header .hamburger div {
  height: 3px;
  width: 25px;
  margin-bottom: 0.3em;
  background-color: #fff;
}

.main-content header button {
  border: none;
  padding: 0.5em 0.5em 0.5em 0;
  border-radius: 1.2em;
  background-color: #000;
  color: #fff;
}

.main-content header button .fa {
  margin: 0 0.5em;
}

.main-content header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;
  right: 0;
  margin: 0.3em 1.2em 0 0;
  background-color: #262626;
  border-radius: 3%;
  padding: 0.5em;
  text-align: left;
}

.main-content header ul li a {
  text-decoration: none;
  color: #cccccc;
  padding: 0.5em 0.5em;
  display: block;
  padding: 0.5em 1em;
}

.main-content header ul li a:hover {
  color: #fff;
}

.main-content header ul li a:hover {
  background-color: #404040;
  border-radius: 3%;
}

.main-content header ul li .fa {
  position: relative;
  margin-left: 2em;
  top: 0.1em;
}
